<!doctype html>
<head>
    <title>Doação</title>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="{{ host }}/static/images/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ host }}/static/css/default.css">
    <link rel="stylesheet" type="text/css" href="{{ host }}/static/css/load.css">
    <script src="{{ host }}/static/js/jquery.js" type="text/javascript"></script>
    <script src="{{ host }}/static/js/preload.js" type="text/javascript"></script>
</head>
<body> 
	<div class="jumbotron">
        <div class="container">
			<h2>Envie uma Imagem</h2>
    	</div>
    	<div class="container">
			<form action="" method=post enctype=multipart/form-data>
				<div class	="row">
					<fieldset>
	    	   			<div class="form-group">
                            <img src="{{ host }}/static/images/camera.svg" id="upfile1" style="cursor:pointer" />
                            <input type="file" id="file1"  name="file1" style="display:none" /> 
	    	   				<img src="#" id="preview_photo" alt="your image" class="hidden">
	    	    		</div>
	    	   			<div class="form-group">
		    	    		<input type=submit id="enviar" value=Enviar class="btn btn-primary hidden">
		    	    	</div>
    	    		</fieldset>
	    		</div>
	    	</form>
		</div>
	</div>
	<div class="loading" />
</body>

<script src="{{ host }}/static/js/preload.js" type="text/javascript"></script>